.sidebarContainer{
    width: 25%;
    color: #fff;
    background-color: #132332;
    height: calc(100vh  - 0px);
    display: flex;
    flex-direction: column;
    align-items: center;
    hr{
        width: 100%;
    }
    .menuContainer{
        margin: 20px auto;
width: fit-content;
    }

}