.dashboardContainer {
    width: 75%;
    height: 100vh;
    background: linear-gradient(#F2F2E7, #CEDDDC, #E6EFF8);

    h1 {
        margin: 20px 40px;
    }

    .userDetailContainer {
        margin: 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px
    }

}